# Oracle DB
DB_URL=jdbc:oracle:thin:@gestiondetareasbd_tp
DB_USERNAME=CHATBOT_USER
DB_PASSWORD=Chatbot2026AB

# JWT
JWT_SECRET=269aebdafe6e95ec2ca90342cbbfb9c9982bec87efcf1a2631f13723727f2de4a8f620f70f74ed6b8d8b0d88aada0526535a3d8b379ce578ff18f14cd7cb260e

# OpenAI
OPENAI_API_KEY=<tu_api_key_de_openai>

# Telegram
TELEGRAM_BOT_TOKEN=8490652426:AAFotgPoxyTBxR_s9_RB7wp52tjT2EE4iBM

